.login_page {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deskala_assignment_title {
  color: #42b0ee;
  font-weight: bold;
}
.login_box {
  margin-top: 2vw;
  box-shadow: 10px 10px 10px lightblue;
  /* border: 1px solid rgba(0, 0, 0, 0.183); */
  border-radius: 5px;
  padding: 3vw 5vw;
  height: max-content;
  width: max-content;
  border: none;
}

.login_box h4 {
  display: flex;
  justify-content: center;
}

.login_box .form-group {
  margin-top: 30px;
  padding: 0px 10px;
}

.login_box_div input {
  width: 300px;
}

.input_sub_text {
  text-align: right;
  width: 100%;
  color: #42b0ee;
  font-size: 12px;
}

.deskala_link {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: #42b0ee;
  display: grid;
  justify-content: center;
  margin-top: 30px;
}
